html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "skills-tools skills-tools skills-tools skills-tools"
    "projects projects projects projects"
    "contact contact contact contact"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/*HEADER*/

.header {
  background-color: var(--primary-color);
  grid-area: header;
}

.header .header-container {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.header h1 {
  font-size: 3rem;
  font-weight: 700;
  transition: 0.3s;
  color: var(--secondary-color);
}

.header a:hover h1 {
  color: white;
  text-shadow: 0 0 4em var(--secondary-variant-color), 0 0 4em var(--secondary-variant-color), 0 0 4em var(--secondary-variant-color);
}

/*HERO*/

.hero {
  grid-area: hero;
  background: url(../images/hero.jpg) center center no-repeat;
  background-size: cover;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero .intro .text h2 {
  font-weight: 500;
  font-size: 4rem;
}

.hero .intro .text h4 {
  font-weight: 400;
  font-size: 2rem;
}

.hero .intro .avatar {
  border-radius: 50%;
}

.hero .intro {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.hero:after {
  content: url(../images/seta_preta.png);
  height: 35px;
  bottom: 40px;
  position: absolute;
  animation: down-arrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes down-arrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.4;
  }

  100% {
    -webkit-transform: translateY(0.4em);
    opacity: 0.9;
  }
}

@media(max-width:768px) {
  .hero {
    height: 70vh;
  }

  .hero .intro {
    flex-direction: column;
  }

  .hero .intro .text {
    padding-top: 30px;
  }

  .hero .intro .text h2 {
    font-size: 2.5rem;
  }

  .hero .intro .text h4 {
    font-size: 1.5rem;
  }

  .hero .intro .avatar {
    order: -1;
    width: 150px;
  }
}

/*ABOUT*/

.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary-variant-color);
  max-width: var(--max-width-size);
}

.about .item {
  padding: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about .item h3 {
  font-weight: 700;
  font-size: 4rem;
}

.about .item p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 30px 0;
}

.about .item .btn-know-more {
  font-size: 1.6rem;
  align-self: flex-start;
}

.about .item .btn-know-more:hover {
  font-weight: 700;
}

.about .image {
  height: 100%;
  width: 100%;
}

.about .image.right {
  background: url('../images/bridge.jpg') center center no-repeat;
  background-size: cover;
}

.about .image.left {
  background: url('../images/sky.jpg') center center no-repeat;
  background-size: cover;

}

@media(max-width:768px) {
  .about .item {
    text-align: center;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

/*  SKILL&TOLLS*/

.skill-tools {
  grid-area: skills-tools;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.skill-tools .skill-tool {
  padding: 70px 20px;
}

.skill-tools .skill-tool img {
  width: 250px;
  margin-bottom: 30px;
}

.skill-tools .skill-tool h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.skill-tools .skill-tool p {
  font-size: 2rem;
  font-weight: 400;
  margin: 20px auto 0;
  line-height: 25px;
}

.skill-tools .skill-tool:nth-child(1) {
  background-color: var(--primary-variant-color);
}

.skill-tools .skill-tool:nth-child(2) {
  background-color: var(--primary-variant2-color);
}

.skill-tools .skill-tool:nth-child(3) {
  background-color: var(--primary-variant-color);
}

@media(max-width:768px){
  .skill-tools {
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
  }
}

/*PROJECTS*/

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
}

.project img{
  height: 100%;
  transition: 0.3s;
}

.projects a:hover img{
  opacity: 0.7;
}

@media(max-width:768px){
  .projects {
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
  }}

  @media(max-width:425px){
    .projects {
  grid-template-columns: 1fr ;
  grid-template-rows: repeat(4, 1fr);
    }}



/*FOOTER*/

.footer {
  grid-area: footer;
  background-color: var(--bold-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 0;
}

.footer h5{
  color: var(--secondary-variant-color);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer a{
  color: var(--secondary-variant-color);
}

.footer nav{
  margin: 30px 0;
}

.footer nav ul{
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}

.footer nav ul li{
  font-weight: 500;
  font-size: 2rem;
  margin: 20px;
}

.footer nav ul li a:hover{
  font-weight: 700;
  color: var(--secondary-variant-color);
  text-shadow: 0 0 0.4em var(--secondary-variant-color)
}

.footer .social i{
font-size: 3rem;
margin-right: 10px;
transition: 0.3s ease-in-out;
}

.footer .social a:hover{
color: white;
text-shadow: 0 0 0.4em var(--secondary-variant-color);
margin:0 10px;
}

.footer .social i:hover{
font-size: 4.5rem;
  }

